[user]
	name  = meDracula
	email = me.dracula@protonmail.com

[core]
	editor = vim

[init]
	defaultBranch = main

[alias]
    # branch
    b  = branch
    bc = checkout -b
    bl = branch -v
    bL = branch -av
    bd = branch -d
    bD = branch -D
    bm = branch -m
    bM = branch -M
    bs = show-branch
    bS = show-branch -a

    # checkout/fetch/merge/push/rebase
    # checkout
    co  = checkout
    co0 = checkout HEAD --

    # fetch
    f  = fetch
    fm = pull
    fo = fetch origin

    # push
    p  = push
    pa = push --all
    pt = push --tags

    # merge
    m = merge

    # rebase
    re  = rebase
    rea = rebase --abort
    rec = rebase --continue
    rei = rebase --interactive
    res = rebase --skip

    # commit
    c      = commit -v
    ca     = commit --all -v
    cm     = commit --message
    cam    = commit --all --message
    camend = commit --amend --reuse-message HEAD
    cundo  = reset --soft "HEAD^"
    cp     = cherry-pick

    # diff
    d  = diff          # Diff working dir to index
    ds = diff --staged # Diff index to HEAD
    dh = diff HEAD     # Diff working dir and index to HEAD

    # index
    st = status
    r  = reset

    # stage
    a  = add
    ad = add .

    # log
    l  = log --oneline
    ls = log --stat
    lh = shortlog --summary --numbered --email

    # log numbered
    l1  = log -n 1
    l5  = log -n 5
    l10 = log -n 10

    # log graph
    lg  = log --graph --oneline
    lga = log --all --graph
    lgr = log --graph --oneline --decorate --date=relative
