[user]
	name  = meDracula
	email = me.dracula@protonmail.com

[core]
	editor = vim

[init]
	defaultBranch = main

[pull]
    rebase = true

[alias]
	# branch
	b  = branch
	bc = checkout -b
	bl = branch -v
	bL = branch -av
	bd = branch -d
	bD = branch -D
	bm = branch -m
	bM = branch -M
	bs = show-branch
	bS = show-branch -a

	# checkout
	co  = checkout
	co0 = checkout HEAD --

	# fetch
	f  = fetch
	fo = fetch origin

	# Pull
	pl = pull

	# push
	ph  = push
	pha = push --all
	pht = push --tags

	# merge
	mr = merge

	# rebase
	re  = rebase
	rea = rebase --abort
	rec = rebase --continue
	rei = rebase --interactive
	res = rebase --skip

	# commit
	c      = commit -v
	ca     = commit --all -v
	cm     = commit --message
	cam    = commit --all --message
	camend = commit --amend --reuse-message HEAD
	cundo  = reset --soft "HEAD^"
	cp     = cherry-pick

	# diff
	d  = diff
	ds = diff --staged
	dh = diff HEAD

	# index
	st = status
	r  = reset

	# stage
	a  = add
	ad = add .

	# log
	l  = log --oneline
	ls = log --stat
	lh = shortlog --summary --numbered --email

	# log numbered
	l1  = log -n 1
	l5  = log -n 5
	l10 = log -n 10

	# log graph
	lg  = log --graph --oneline
	lga = log --all --graph
	lgr = log --graph --oneline --decorate --date=relative
